<div id="<%= dom_id contract %>">
  <p>
    <strong>Name:</strong>
    <%= contract.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= contract.start_date %>
  </p>

  <p>
    <strong>Terms:</strong>
    <%= contract.terms %>
  </p>

</div>
